# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
数据结构、算法与应用（原书第2版） C++语言描述 (Sartaj Sahni) (z-lib.org).pdf
西法的刷题秘籍-2021-04-20.pdf
Lua程序设计（第4版） (罗伯拖·鲁萨利姆斯奇) (z-lib.org).epub
C图解教程第5版 (Daniel M.Solis) (z-lib.org).pdf
JavaScript高级程序设计（第4版） (Matt Frisbie) (z-lib.org).pdf
C++ Primer Plus 第6版 中文版 (Stephen Prata) (z-lib.org).pdf
